<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alternate Endings</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
    />
  </head>

  <body>
    <nav>
      <div
        class="is-flex is-justify-content-space-between is-align-content-center"
      >
        <div class="is-flex is-align-items-center">
          <a class="ae-title" href="/">
            Alternate Endings
          </a>
          <div class="is-flex ml-6">
            <a class="button mr-3" href="/">Home</a>
            {{#if loggedIn}}
              <a class="button" href="/dashboard">Dashboard</a>
            {{/if}}
          </div>
        </div>
        <div class="is-flex is-align-items-center nav-center">
          <div class="field menu-search">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                type="text"
                placeholder="Search for movies"
              />
              <span class="icon is-small is-left">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="is-flex is-align-items-center">
          <div class="buttons">
              {{#if loggedIn}}
                  <a class="button is-outlined logout-btn" href="/logout">
              <strong>Logout</strong>
            </a>
              {{else}}
            <a class="button is-outlined" href="/signup">
              <strong>Signup</strong>
            </a>
            <a class="button is-primary" href="/login">
              <strong>Log-in</strong>
            </a>
          </div>
          {{/if}}
        </div>
      </div>
    </nav>
    <main class="pt-6">
      {{{body}}}
    </main>
    <footer class="footer is-info">
      <div class="content has-text-centered">
        <p>
          <strong class="quote"></strong>
        </p>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"
    ></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/logout.js"></script>
    <div id="modal-js-example" class="modal">
      <div class="modal-background"></div>

      <div class="modal-content">
        <div class="box">
          <p>All Alternative Endings Have Spoilers</p>

        </div>
      </div>

      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
      var slider = tns({ container: '.movieslider', items: 8, slideBy: 'page',
      autoplay: false, pages: false });
    </script>
    <script>
      var slider = tns({ container: '.intheaters', items: 8, slideBy: 'page',
      autoplay: false, pages: false });
    </script>
    <script src="/javascript/search.js"></script>
    {{!-- <script src="/js/scripts.js"></script> --}}
  </body>
</html>