<div class="container mt-6">

<div class="columns">

<div class="column">
  <div class="col-12">
    <h1 class="title mb-4">Hello {{username}}</h1>
    <h2 class="title mb-4">Create a new post!</h2>
  </div>
</div>

</div>
<div class="row">
  <form class="new-post-form">
    <div class="row mb-3">
      <div class="col-12">
        <label for="post-title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="post-title"
            class="form-control"
            id="post-title"
          />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <label
          for="post-content"
          class="col-sm-2 col-form-label"
        >Content</label>
        <div class="col-sm-10">
          <textarea
            type="text"
            name="post-content"
            class="form-control post-content mb-3"
            id="post-content"
          ></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <h2 class="mb-4">Your Posts</h2>
</div>

{{#if posts.length}}
  <div class="row">
    <div class="col-12">
    <div class="list-group">
        {{#each posts as |post|}}
        {{>post-info post}}
        {{/each}}
    </div>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-12">
    <p>You do not have any posts</p>
    </div>
  </div>
{{/if}}

</div>

<script src="/js/add-post.js"></script>