// email.handlebars
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Thank you for signing up for Alternative Endings!</title>
</head>
<body>
  <h2>Hello {{user}}! </h2>
  <p>We're glad to have you and your creative endings. 
    You can now add an ending, upvote another user's ending, and see your reviews on your dashboard!  </p>
</body>
</html>