<section class="hero is-info mb-4">
  <div class="hero-body">
    <p class="title">
      Movies Coming Soon...
    </p>
    <p class="subtitle">
      Coming soon for your review
    </p>
  </div>
  <div class="movieslider">
    <div class="movieitem"><img
        class="movieimg movieimgbtn"
        src="/assets/img/1.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/2.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/3.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/4.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/5.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/6.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/7.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
  </div>
</section>
<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      In Theaters Now
    </p>
    <p class="subtitle">
      Ready for review
    </p>
  </div>
  <div class="intheaters">
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/1.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/2.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/3.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/4.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/5.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/6.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/7.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
    <div class="movieitem"><img
        class="movieimg"
        src="/assets/img/8.jpeg"
      /></div>
  </div>
</section>
<div class="my-slider">
  <div></div>
  <div></div>
  <div></div>
</div>
<section>
  <div class="container mb-4">
    <table class="table mt-3 topfive">
      <thead>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Movie</th>
          <th><abbr title="Played">Alternative Endings Rating</abbr></th>
          <th>User</th>
          <th>Spoilers Y/N</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td><a href="#">Movie Name</a>
          </td>
          <td>4</td>
          <td>
            <a href="#">User</a></td>
          <td>Y</td>
        </tr>
        <tr>
          <th>2</th>
          <td><a href="#">Movie Name</a>
          </td>
          <td>2</td>
          <td>
            <a href="#">User</a></td>
          <td>Y</td>
        </tr>
        <tr>
          <th>3</th>
          <td><a href="#">Movie Name</a>
          </td>
          <td>3</td>
          <td>
            <a href="#">User</a></td>
          <td>Y</td>
        </tr>
        <tr>
          <th>4</th>
          <td><a href="#">Movie Name</a>
          </td>
          <td>5</td>
          <td>
            <a href="#">User</a></td>
          <td>Y</td>
        </tr>
        <tr>
          <th>5</th>
          <td><a href="#">Movie Name</a>
          </td>
          <td>2</td>
          <td>
            <a href="#">User</a></td>
          <td>Y</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>Modal JS example</p>
      <!-- Your content -->
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>