<section class="pt-6">
  <div class="card-content">
    <div class="content is-size-3">
      Have you ever seen a movie and wished the ending were different? With
      Alternate Endings you can recreate a movies ending and share with others!
      What if Jack was survived the Titanic or Iron Man never died in Avengers
      Endgame? Share your endings and plot twist with us! Click on the movie
      image to learn more and post your ending.
    </div>
  </div>
</section>
<div class="columns is-mobile is-multiline is-align-items-center">
<div class="columns is-flex-direction-column">
  <div class="column is-three-quarters">
    <div class="comingsoon pb-6">
      <div class="hero-body">
        <p class="title has-text-black">Movies Coming Soon...</p>
        <p class="subtitle has-text-black">Coming soon for your review</p>
      </div>
      <div class="movieslider comingsoontriggers">
        {{! Movie Slider }}
      </div>
    </div>
  </div>
  {{!-- <div class="column is-one-third p-6 box has-background-link-light m-4">
    <h2 class="title">Top Box Office</h2>
    <table class="table mt-3 topfive has-background-link-light">
      <thead>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Movie</th>
          <th><abbr title="Played">Alternative Endings Rating</abbr></th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>4</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>2</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>3</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>4</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>5</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>5</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>2</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> --}}
<div class="columns is-flex-direction-column">
  <div class="column is-three-quarters">
    <div class="intheaters pb-6">
      <div class="hero-body">
        <p class="title has-text-black">In Theaters Now</p>
        <p class="subtitle has-text-black">Ready for Review</p>
      </div>
      <div class="intheatersnow intheaterstriggers">
        {{! Movie Image Slider }}
      </div>
    </div>
  </div>
  <div class="column is-three-quarters p-6 box has-background-link-light m-4 mb-6 is-flex-direction-column">
    <h2 class="title">Top Alternative Endings</h2>
    <table class="table mt-3 topfive has-background-link-light">
      <thead>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Movie</th>
          <th><abbr title="Played">Alternative Endings Rating</abbr></th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>4</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>2</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>3</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>4</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>5</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
        <tr>
          <th>5</th>
          <td>
            <a href="#">Movie Name</a>
          </td>
          <td>2</td>
          <td>
            <a href="#">User</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<script src="/js/scripts.js"></script>