<div class="dashboard-pic">
  <section class="pt-6 post-indiv">
    <div class="content is-size-3 m-6">
      Have you ever seen a movie and wished the ending were different? With
      Alternate Endings you can recreate a movies ending and share with others!
      What if Jack was survived the Titanic or Iron Man never died in Avengers
      Endgame? Share your endings and plot twist with us! Click on the movie
      image to learn more and post your ending.
    </div>
    <div class="card-content">
      <div
        class="column box is-multiline is-align-items-center p-4 m-4 mb-6 has-background-danger"
      >
        <h2 class="title">Top Alternative Endings
          <i class="fa-solid fa-award"></i></h2>
        <table class="table mt-3 topfive">
          <thead>
            <tr>
              <th><abbr title="Position">Pos</abbr></th>
              <th>Movie</th>
              <th><abbr title="Played">Alternative Endings Rating</abbr></th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>
                <a href="#">Movie Name</a>
              </td>
              <td>4</td>
              <td>
                <a href="#">User</a>
              </td>
            </tr>
            <tr>
              <th>2</th>
              <td>
                <a href="#">Movie Name</a>
              </td>
              <td>2</td>
              <td>
                <a href="#">User</a>
              </td>
            </tr>
            <tr>
              <th>3</th>
              <td>
                <a href="#">Movie Name</a>
              </td>
              <td>3</td>
              <td>
                <a href="#">User</a>
              </td>
            </tr>
            <tr>
              <th>4</th>
              <td>
                <a href="#">Movie Name</a>
              </td>
              <td>5</td>
              <td>
                <a href="#">User</a>
              </td>
            </tr>
            <tr>
              <th>5</th>
              <td>
                <a href="#">Movie Name</a>
              </td>
              <td>2</td>
              <td>
                <a href="#">User</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div class="columns p-4">
    <div class="columns is-flex-direction-column p-6 is-6 post-blur m-6">
      <div class="column is-three-quarters">
        <div class="pb-6">
          <p class="title has-text-black">Movies Coming Soon...</p>
          <p class="subtitle has-text-black">Coming soon for your review</p>
        </div>
        <div class="movieslider comingsoontriggers">
          {{! Movie Slider }}
        </div>
      </div>
    </div>
    <div class="columns p-4">
      <div class="columns is-flex-direction-column p-6 is-6 post-blur m-6">
        <div class="column is-three-quarters">
          <div class="pb-6">
            <p class="title has-text-black">In Theaters...</p>
            <p class="subtitle has-text-black">Post a review</p>
          </div>
          <div class="movieslider comingsoontriggers">
            {{! Movie Slider }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public/js/scripts.js"></script>
{{#if loggedIn}}
  <script src="/js/modal.js"></script>
{{else}}
  <script src="/js/modal-loggedout.js"></script>
{{/if}}