<div class="">
  <div class="columns is-centered is-vcentered fullheight login-pic py-6">
    <div class="column box is-two-fifths p-6">
      <h1 class="title">Log-in</h1>
      <p class="subtitle">Don't have an account?
        <a href="/signup">Sign-up instead</a>.</p>
      <form class="login-form">
        <div class="mb-3">
          <div class="field">
            <label for="email-login" class="label">Email Address
              <i class="fa-sharp fa-solid fa-envelope"></i></label>
            <div class="control">
              <input
                type="email"
                class="input"
                id="email-login"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="field">
            <label for="password-login" class="label">Password
              <i class="fa-solid fa-lock"></i></label>
            <input type="password" class="input" id="password-login" />
            <div class="control">
            </div>
          </div>
        </div>
        <div class="field">
          <progress class="progress is-danger mb-3" max="100">30%</progress>
          <div class="control">
            <button
              type="submit"
              class="button is-link"
              id="login-button"
            >Log-in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>