<div class="box">
  <h1>Log-in</h1>
  <form class="login-form">
    <div class="mb-3">
      <label for="email-login" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="login-button"
    >Log-in</button>
  </form>
</div>
<div class="box">
  <h2>Sign Up</h2>
  <form class="signup-form">
    <div class="mb-3">
      <label for="username-signup" class="form-label">User Name</label>
      <input type="text" class="form-control" id="username-signup" />
    </div>
    <div class="mb-3">
      <label for="email-signup" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email-signup" />
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-signup" />
    </div>
    <button type="submit" class="btn btn-primary" id="signup-button">Sign Up</button>
  </form>
  <script src="/public/js/login.js"></script>
</div>