<h1>You searched for <span>{{html_url}}</span></h1>

<ol class="movie-list">
{{#each this}}
<li>
    {{original_title}}
    {{> movie}}
    </li>
{{/each}}
</ol>

<script src="/javascript/search.js"></script>