.movieitem {
  margin: 20px;
}

.movieimg {
  height: 250px;
}

.tns-item {
  width: auto !important;
}

.tns-controls [aria-controls] {
  margin: 0 10px;
  height: 2.5em;
  background-color: 4cc9f0;
  color: #000;
  border: none;
  border-radius: 5px;
}

.tns-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.topfive {
  width: 100%;
  font-size: large;
}

.quote {
  font-size: large;
}

.login-pic {
  background: linear-gradient(to top, #3204fdba, #763e9bcc),
    url(/assets/img/stock/popcorn1.jpg);
}

.fullheight {
  height: calc(100vh - 88px - 144px);
}
