:root {
  --primary-color: #3204fdba;
  --secondary-color: #763e9bcc;
  --tertiary-color: #f72585;
  --quaternary-color: #4361ee;
}

.movieimg {
  height: 250px;
}

.tns-item {
  width: auto !important;
}

.tns-controls [aria-controls] {
  margin: 0 10px;
  height: 2.5em;
  background-color: 4cc9f0;
  color: #000;
  border: none;
  border-radius: 5px;
}

.tns-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 40px;
  box-sizing: border-box;
}

.topfive {
  width: 100%;
  font-size: large;
}

.quote {
  font-size: large;
}

.login-pic {
  background: linear-gradient(
      to top,
      var(--primary-color),
      var(--secondary-color)
    ),
    url(/assets/img/stock/popcorn1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard-pic {
  background: url(/assets/img/stock/popcorn-full.jpg);
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
}

.post-img {
  background: url(/assets/img/stock/paper.jpg);
}

.fullheight {
  height: calc(100vh - 88px - 144px);
}

.ae-title {
  font-size: 35px;
  color: rgb(61, 61, 61);
}

nav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
}

.nav-center {
  flex: 100;
  margin: 0 50px;
}

.menu-search {
  width: 100%;
}

.button-reset {
  padding: 0;
  border: none;
  background: none;
}

/* .comingsoon {
  background-color: var(--quaternary-color);
}

.intheaters {
  background-color: var(--quaternary-color);
} */

.tns-nav {
  display: none !important;
}

.modal {
  z-index: 999 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 20%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.searchresultsitem {
  border-bottom: 1px solid rgb(234, 234, 234);
  /* border: 1px solid rgb(234, 234, 234); */
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
}

.searchresultsitem:last-child {
  border-bottom: none;
}

.searchresultsitemtitle {
  width: 100%;
}

.modal-search {
  width: 900px !important;
}

.modal-movie {
  width: auto;
}

.searchoverview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.movieposterimg {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .modal-search {
    width: calc(100vw - 40px) !important;
  }

  .searchoverview {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
