.movieimg {
  height: 250px;
}
.logo {
  width: 270px;
}

.tns-item {
  width: auto !important;
}

.tns-controls [aria-controls] {
  margin: 0 10px;
  height: 2.5em;
  background-color: 4cc9f0;
  color: #000;
  border: 0;
  border-radius: 5px;
}

.tns-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 40px;
  box-sizing: border-box;
}

.topfive {
  width: 100%;
  font-size: large;
}

.quote {
  font-size: large;
}

.login-pic {
  background: linear-gradient(to top, #3204fdba, #763e9bcc),
    url(/assets/img/stock/popcorn1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-pic {
  background: linear-gradient(to top, #3204fdba, #763e9bcc),
    url(/assets/img/stock/film.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fullheight {
  height: calc(100vh - 88px - 144px);
}

.ae-title {
  font-size: 35px;
  color: #3d3d3d;
}

nav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
}

.nav-center {
  flex: 100;
  margin: 0 50px;
}

.menu-search {
  width: 100%;
}

.button-reset {
  padding: 0;
  border: 0;
  background: 0;
}

.comingsoon {
  background-color: #3204fd;
}

.intheaters {
  background-color: #763e9b;
}

.tns-nav {
  display: none !important;
}

.modal {
  z-index: 999 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 20%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.searchresultsitem {
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
}

.searchresultsitem:last-child {
  border-bottom: 0;
}

.searchresultsitemtitle {
  width: 100%;
}

.modal-search {
  width: 900px !important;
}

.modal-movie {
  width: auto;
}

.searchoverview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.movieposterimg {
  border-radius: 10px;
  overflow: hidden;
}

.swiper-wrapper {
  height: auto !important;
}

@media screen and (max-width: 1000px) {
  .modal-search {
    width: calc(100vw - 40px) !important;
  }

  .searchoverview {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.container {
  margin-top: 2rem;
}

.swiper-container {
  overflow: visible;
}

.swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  flex-shrink: 1 !important;
}

.swiper-slide img {
  border-radius: 5px;
  max-width: 18rem;
  cursor: grab;
}

.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 1;
}

.swiper-slide:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.swipebtn {
  display: block;
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 0 5px #000);
  color: white !important;
  padding: 30px !important;
}

.container {
  width: 90vw !important;
}

@media screen and (max-width: 599px) {
  .swiper-slide img {
    max-width: 14rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    max-width: 10.5rem;
    border-radius: 2px;
  }
}

:root {
  --primary-color: #3204fdba;
  --secondary-color: #763e9bcc;
  --tertiary-color: #ae374c;
  --quaternary-color: #4361ee;
}

.movieimg {
  height: 250px;
}

.logo {
  max-width: 270px;
}

.branded-color {
  background-color: var(--tertiary-color) !important;
  color: white !important;
}

.quote {
  font-size: large;
}

.login-pic {
  background: linear-gradient(
      to top,
      var(--primary-color),
      var(--tertiary-color)
    ),
    url(/assets/img/stock/popcorn1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-pic {
  background: url(/assets/img/stock/popcorn-full.jpg);
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
}

.post-blur {
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
}

.post-indiv {
  background: url(/assets/img/stock/paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.panel {
  background-color: #fff;
}

.dashboard-panel {
  width: 100%;
}

.fullheight {
  height: calc(100vh - 88px - 144px);
}

.ae-title {
  font-size: 35px;
  color: #3d3d3d;
}

nav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
}

.nav-center {
  flex: 100;
  margin: 0 50px;
}

.menu-search {
  width: 100%;
}

.button-reset {
  padding: 0;
  border: 0;
  background: 0;
}

.modal {
  z-index: 999 !important;
}

.searchresultsitem {
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -1px 5px 14px 1px rgba(0, 0, 0, 0.21);
}

.searchresultsitem:last-child {
  border-bottom: 0;
}

.searchresultsitemtitle {
  width: 100%;
}

.modal-search {
  width: 900px !important;
}

.modal-movie {
  width: auto;
}

.searchoverview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.movieposterimg {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .modal-search {
    width: calc(100vw - 40px) !important;
  }

  .searchoverview {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
